<p>{{errorMessage}}</p>
<h2>Evolution{{numEvolutions > 1 ? 's': ''}}</h2>
@if (!error) {
    @if (hasThirdEvolution) {
        @for (evolution of evolutions; track $index) {
            <div class="chain">
                <div class="evolution">
                    <app-evo-image [pokemonName]="evolution.first" />
                    <span>{{evolution.first}}</span>
                </div>
                <span class="material-symbols-outlined">
                    arrow_forward
                    </span>
                <div class="evolution">
                    <app-evo-image [pokemonName]="evolution.second" />
                    <span>{{evolution.second}}</span>
                </div>
                <span class="material-symbols-outlined">
                    arrow_forward
                    </span>
                <div class="evolution">
                    <app-evo-image [pokemonName]="evolution.third" />
                    <span>{{evolution.third}}</span>
                </div>
            </div>
        }
    }
    
    @if (!hasThirdEvolution) {
        @for (evolution of evolutions; track $index) {
            <div class="chain">
                <div class="evolution">
                    <app-evo-image [pokemonName]="evolution.first" />
                    <span>{{evolution.first}}</span>
                </div>
                <span class="material-symbols-outlined">
                    arrow_forward
                    </span>
                <div class="evolution">
                    <app-evo-image [pokemonName]="evolution.second" />
                    <span>{{evolution.second}}</span>
                </div>
            </div>
        }
    }
}